absl-py==2.4.0
annotated-types==0.7.0
anyio==4.13.0
astunparse==1.6.3
audioread==3.1.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cmake==4.3.2
colorama==0.4.6
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
decorator==5.2.1
deepface==0.0.99
distro==1.9.0
dnspython==2.8.0
filelock==3.29.0
fire==0.7.1
Flask==3.1.3
flask-cors==6.0.2
Flask-Mail==0.10.0
flatbuffers==25.12.19
fonttools==4.62.1
fsspec==2026.4.0
gast==0.7.0
gdown==6.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.52.0
google-auth-httplib2==0.4.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.75.0
greenlet==3.5.0
groq==1.2.0
grpcio==1.80.0
grpcio-status==1.71.2
gunicorn==26.0.0
h11==0.16.0
h5py==3.14.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
keras==3.14.1
kiwisolver==1.5.0
lazy-loader==0.5
libclang==18.1.1
librosa==0.11.0
lightdsa==0.0.3
lightecc==0.0.6
lightphe==0.0.24
llvmlite==0.47.0
lz4==4.4.5
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
mediapipe==0.10.35
ml_dtypes==0.5.4
more-itertools==11.0.2
mpmath==1.3.0
msgpack==1.1.2
mtcnn==1.0.0
namex==0.1.0
networkx==3.6.1
numba==0.65.1
numpy==2.4.4
openai-whisper==20250625
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pandas==3.0.2
pillow==12.2.0
platformdirs==4.9.6
pooch==1.9.0
proto-plus==1.28.0
protobuf==7.34.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pymongo==4.17.0
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
regex==2026.4.4
reportlab==4.5.0
requests==2.33.1
retina-face==0.0.17
rich==15.0.0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8.3
soxr==1.1.0
SQLAlchemy==2.0.49
sympy==1.14.0
tensorflow==2.21.0
termcolor==3.3.0
tf_keras==2.21.0
threadpoolctl==3.6.0
tiktoken==0.12.0
torch==2.11.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
vaderSentiment==3.3.2
Werkzeug==3.1.8
wrapt==2.1.2
